.container {
    padding: 5%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.title {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
