body {
    background-image: url("img/body.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    text-align: center;
    font-size: calc(2rem + 1vw);
}

.text {
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    padding: 0 5%;
    font-size: calc(1.2rem + 0.5vw);
}

.card {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 80%;
}

@media (max-width: 600px) {
    .title {
        font-size: 2.5rem;
    }

    .text {
        font-size: 1.5rem;
        padding: 0 3%;
    }

    .card {
        padding: 2rem;
        width: 90%;
        height: auto;
    }
}
